The goal this week is to pratice using Markdown to write descriptive text in notebooks and then look at Python data structures including the pandas module that supports data structures designed for handling the kind of data we'll be working with.  

There is probably too much work to complete here in the workshop session, but please use this notebook after the workshop to practice your Python.  Remember to commit your changes to git as you go and push back to Github when you are done.

## Markdown Practice

Complete this section as per the instructions in the practical page.  Add the required cells below this one. (Double click on this text to edit it.)

## Lists

First we look at the built in Python list data structure.

A list is a sequence of things, unlike strongly typed languages (Java, C#) a list can contain a mixture of different types - there is no type for a list of integers or a list of lists.   Here are some lists:

In [3]:
ages = [12, 99, 51, 3, 55]
names = ['steve', 'jim', 'mary', 'carrie', 'zin']
stuff = [12, 'eighteen', 6, ['another', 'list']]

1. write code to print the first and third elements of each list
2. write code to select and print everything except the first element of each list
3. write a for loop that prints each element of the 'names' list

In [12]:
print(ages[0],names[2])

12 mary

In [9]:
print(ages[1:])

[99, 51, 3, 55]

In [10]:
print(names[1:])

['jim', 'mary', 'carrie', 'zin']

Lists are _mutable_ which means that they can change.  For example we can append new elements to the `ages` list above like this:

In [11]:
print(stuff[1:])

['eighteen', 6, ['another', 'list']]

In [13]:
ages.append(33)
ages

[12, 99, 51, 3, 55, 33, 33, 33]

In [13]:
for x in names:
    print(x)

steve
jim
mary
carrie
zin

Try running the previous cell a few times, you should see the list `ages` grow bigger each time.  Note that if you now read your notebook from the start the value printed out above doesn't make sense - this is a potential problem with notebooks - that the displayed code can be inconsistent with the program state.   To make the output make sense again, use the `Kernel` menu above and choose _'Restart and Run all'_ which will run all cells from the start. Note the effect on the output of the previous cell.

## Pandas Data Frames

[Pandas](https://pandas.pydata.org) is a Python module that provides some important data structures for Data Science work and a large collection of methods for data analysis. 

The two main data structures are the [Series]() and [DataFrame](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe).  

A Series is a one dimensional array of data, but unlike the Python list the data is indexed - the index is like the dictionary key, any immutable value like a number or string.  You can use the label to select elements from the series as well as positional values.  

A DataFrame is analogous to a spreadsheet - a two dimensional table of data with indexed rows and named columns. 

You should read up on these and follow the examples in the text.  Here are a few exercises to complete with data frames.

You are given three csv files containing sample data.

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

ds1 = 'files/ds1.csv'
ds2 = 'files/ds2.csv'
ds3 = 'files/ds3.csv'

Write code below to read one of these data files into a pandas data frame and:
- show the first few rows: .head
- find the summary data for each column: .describe
- select just those rows where the value of x and y is over 50
- select the column 'x' and create a series
- plot the 'x' series as a line graph
- plot the dataframe as a scatterplot

Once you have the code for this, you can change the file you use for input of the data (ds2, ds3) and re-run the following cells to see the different output that is generated

In [16]:
# write your code here
df1=pd.read_csv(ds1)

In [17]:
df1.describe()

                x           y
count  142.000000  142.000000
mean    54.263273   47.832253
std     16.765142   26.935403
min     22.307700    2.948700
25%     44.102600   25.288450
50%     53.333300   46.025600
75%     64.743600   68.525675
max     98.205100   99.487200

# Further Practice

If you finish this task you can practice more with pandas data frames by following the examples in the text, section 2.6.  The CSV file that they use in that section is available in the `files` directory of this repository as `educ_figdp_1_Data.csv`.

In [18]:
df1.head()

         x        y
0  55.3846  97.1795
1  51.5385  96.0256
2  46.1538  94.4872
3  42.8205  91.4103
4  40.7692  88.3333

In [ ]:
edufile = 'educ_figdp_1_Data.csv'